<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/workout-show.css' />
    <link rel='stylesheet' href='/stylesheets/starability-basic.min.css' />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <% include ../partials/navbar-workout %>
    <% include ../partials/flash-messages %>
    <%- body -%>
    <script src="/javascripts/workout-show.js" type="text/javascript"></script>
  </body>
</html>
