<% layout('layouts/boilerplate-workout') -%>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Types Of Workouts</h1>
  <p class="lead">Quickly build an effective workout routines for yourself with some of this sets of workouts.
    It's developed and improvised over time for time efficiency and little customization for personal gains.
  I've tried all three of these workouts and each of them have many pros and I've divided accordingly based on experience levels.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">5x5 StrongLifts</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">Beginner</h3>
        <h5><small class="text-muted">Highly Recommended</small></h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Fundamentals of workouts</li>
          <li>Practices all Compound Workouts</li>
          <li>Trains all muscles in body</li>
          <li>Perfect for Beginners</li>
        </ul>
        <a target="_blank" href="https://stronglifts.com/5x5/#gref" class="btn btn-lg btn-block btn-outline-primary">A new chapter</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Emir's Workout</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">Intermediate</h3>
        <h5><small class="text-muted">The Perfect Recipe</small></h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Combination of both Strength & Hypertrophy</li>
          <li>Full body workout</li>
          <li>Time efficient & fast pace</li>
          <li>Perfect start for returning gym junkies</li>
        </ul>
        <a target="_blank" href="https://docs.google.com/spreadsheets/d/1p-8sySAZwhZPJdEqRs8eMAV7SbPMgt0w5XvCcSQHRKw/edit?usp=sharing" class="btn btn-lg btn-block btn-outline-secondary">Taking the next level!</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Push, Pull & Leg</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">Expert </h3>
        <h5><small class="text-muted">The Aestethic Life</small></h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Different muscle group concentration</li>
          <li>Less tiring yet challenging intensity</li>
          <li>Aiming on specific muscle groups</li>
          <li>Handle like a Pro</li>
        </ul>
        <a target="_blank" href="https://docs.google.com/spreadsheets/d/1JDCNTXWTmztdfiPnfRI6NQ016oZrGy9qT-C3fI1uJVM/edit?usp=sharing" class="btn btn-lg btn-block btn-outline-warning">Challenge Accepted</a>
      </div>
    </div>
  </div>
</div>
